[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive.vim"]
	path = vim/bundle/fugitive.vim
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/rails.vim"]
	path = vim/bundle/rails.vim
	url = git://github.com/tpope/vim-rails.git
