[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive.vim"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-jdaddy"]
	path = vim/bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vim/bundle/vim-yaml"]
	path = vim/bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "vim/bundle/SAS-Vim"]
	path = vim/bundle/SAS-Vim
	url = https://github.com/EricGebhart/SAS-Vim.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
