[user]
    name = Will Rogers
    email = wjrogers@gmail.com
[core]
    autocrlf = false
    safecrlf = false
    whitespace = cr-at-eol
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true

[pull]
    ff = only
[push]
    default = simple
[diff]
    algorithm = histogram
    tool = vimdiff
    guitool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    conflictStyle = diff3
    tool = vim-mergetool-qt
[mergetool]
    keepBackup = false
[mergetool "meld"]
    cmd = meld --auto-merge --output $MERGED $LOCAL $BASE $REMOTE
[mergetool "vim-fugitive"]
    cmd = vim -f -c "Gvdiffsplit!" "$MERGED"
    trustExitCode = true
[mergetool "vim-mergetool"]
    cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
[mergetool "vim-mergetool-qt"]
    cmd = nvim-qt --maximized -- -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
[credential]
    helper = manager
