[Unit]
Description=1Password Browser and CLI Integration Relay

[Service]
ExecStartPre=-/bin/rm -f /run/user/%U/1Password-BrowserSupport.sock
ExecStart=/usr/bin/socat UNIX-LISTEN:/run/user/%U/1Password-BrowserSupport.sock,fork EXEC:"/mnt/c/Users/will/.local/bin/npiperelay.exe -ei -s //./pipe/1Password-2-1Password-BrowserSupport",nofork

[Install]
WantedBy=default.target
